* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
// @import url("./mystyle.css") screen and (min-width: 200px);// for importing ext css

#container {
    // background-color: #0093E9;
    // background-image: -o-linear-gradient(290deg, #0093E9 0%, #80D0C7 100%);
    // background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 100vw;

    // height: 100vh;
    section {
        height: 100vh;
        -webkit-transition: background-image 4s linear;
        -o-transition: background-image 4s linear;
        transition: background-image 4s linear;
    }

    section:nth-child(1) {
        background-color: #21D4FD;
        background-image: -o-linear-gradient(71deg, #21D4FD 0%, #B721FF 100%);
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    }

    section:nth-child(2) {
        background-color: #8EC5FC;
        background-image: -o-linear-gradient(28deg, #8EC5FC 0%, #E0C3FC 100%);
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    }

    section:nth-child(3) {
        background-color: #0093E9;
        background-image: -o-linear-gradient(290deg, #0093E9 0%, #80D0C7 100%);
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    }

    section:nth-child(4) {
        background-color: #8BC6EC;
        background-image: -o-linear-gradient(315deg, #8BC6EC 0%, #9599E2 100%);
        background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    }
   ////// 
    @media (min-width: 320px) and (max-width:1024px){
        section:nth-child(4) {
            background-color: #21D4FD;
            background-image: -o-linear-gradient(71deg, #21D4FD 0%, #B721FF 100%);
            background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
        }
        section:nth-child(3) {
            background-color: #8EC5FC;
            background-image: -o-linear-gradient(28deg, #8EC5FC 0%, #E0C3FC 100%);
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        }
        section:nth-child(2) {
            background-color: #0093E9;
            background-image: -o-linear-gradient(290deg, #0093E9 0%, #80D0C7 100%);
            background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        }
        section:nth-child(1) {
            background-color: #8BC6EC;
            background-image: -o-linear-gradient(315deg, #8BC6EC 0%, #9599E2 100%);
            background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        }
    }
    @media (prefers-color-scheme: dark) {
        section:nth-child(1) {
            background-color: hsl(247, 82%, 13%);
            background-image: none;
        }
    }
}/////