* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
$white: #fff;
$veryLightBlue: #f1f9ff;
$lightBlue: #bce0fd;
$regularBlue: #2699fb;
$lightGrey: #d6d6d6;
$mediumGrey: #7f7f7f;
$Arial: Arial, Helvetica, sans-serif;
$Georgia: Georgia, "Times New Roman", Times, serif;
//regular css and mobile setup
#container {
  width: 100%;
  background-color: $white;
  nav {
    // position: relative;
    // z-index: 0;
    width: 100%;
    display: flex;
    align-items: center;
    color: $white;
    font-family: $Arial;
    background-color: $regularBlue;
    height: 80px;
    padding: 1em;
    #brand {
      h1 {
        font-size: 1.5em;
        #xd {
          display: block;
        }
      }
    }
    #menu {
      // position: relative;
      // z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      height: 48px;
      width: 50px;
      margin-left: auto;
      cursor: pointer;
      span {
        height: 5px;
        background: $white;
        width: 100%;
        display: inline-block;
      }
    }

    ul#navigation {
      // position: relative;
      // z-index: 99;
      height: 100vh;
      width: 100%;
      // background-color: black;
      // visibility: hidden;
      display: none;
      li {
        // display: block;
        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
  #section1 {
    display: flex;
    flex-direction: column-reverse;
    padding: 1em;
    div {
      width: 100%;
    }
    #section1-div1 {
      display: flex;
      justify-content: center;
      img {
        margin-left: 1em;
        width: 100%;
      }
    }
    #section1-div2 {
      margin-bottom: 1.5em;
      h6 {
        color: $mediumGrey;
        font-family: $Arial;
        font-size: 1em;
        margin: 1em 0 1em 0;
      }
      h1 {
        font-family: $Georgia;
        font-weight: 100;
        color: $regularBlue;
        font-size: 2.5em;
        margin-bottom: 1em;
      }
      button {
        background: none;
        color: $regularBlue;
        border: 1px solid $lightBlue;
        font-family: $Arial;
        padding: 1em 2em;
        border-radius: 0.5em;
      }
    }
  }
  #section2 {
    #section2-child {
      #section-left {
        background-color: $veryLightBlue;
        padding: 2.5em;
        h1 {
          font-family: $Georgia;
          font-weight: 100;
          color: $regularBlue;
          font-size: 2.5em;
          margin-bottom: 1em;
        }
        p {
          font-family: $Arial;
          font-size: 0.6em;
          line-height: 2em;
          color: $regularBlue;
        }
      }
      #section-right {
        // background-color: $mediumGrey;
        display: flex;
        flex-direction: column;
        img {
          padding: 0.5em 1em;
        }
      }
    }
  }
  #cards {
    .section3 {
      width: 100%;
      padding: 0.5em 1.5em;
      .section3-sections {
        display: flex;
        align-items: center;
        img {
          margin-right: 0.5em;
        }
        h3 {
          font-family: $Arial;
          color: $regularBlue;
          font-size: 0.5em;
        }
        span {
          margin-left: auto;
          font-family: $Arial;
          color: $mediumGrey;
          font-size: 0.5em;
        }
      }
      p {
        margin-top: 2em;
        color: $lightGrey;
        font-family: $Arial;
        font-size: 0.75em;
        line-height: 1.5em;
      }
      img.profiles {
        margin-top: 2em;
        width: 100%;
      }
      .footer {
        display: flex;
        margin-top: 2em;
        h3 {
          margin-left: auto;
          color: $regularBlue;
          font-family: $Arial;
          font-size: 0.75em;
        }
      }
    }
  }
  #section-4 {
    margin-top: 2em;
    // height: 600px;
    width: 100%;
    background-color: $veryLightBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    #section-4-div {
      margin: 1.5em 0;
      width: 90%;
      height: 90%;
      background-color: $white;
      padding: 1em;
      h1 {
        color: $mediumGrey;
        font-family: $Georgia;
        font-size: 2em;
      }
      p:nth-of-type(1) {
        color: $mediumGrey;
        font-family: $Arial;
        font-size: 1.25em;
        font-weight: 100;
        margin: 0.25em 0 1em 0;
      }
      p:nth-of-type(2) {
        color: $regularBlue;
        font-family: $Arial;
        font-size: 0.75em;
        line-height: 1.5em;
      }
      #div-boxes {
        width: 100%;
        margin: 0;
        .boxes {
          width: 100%;
          height: 150px;
          background-color: $veryLightBlue;
          margin: 0.5em 0;
          display: flex;
          align-items: center;
          padding: 2em;
          border-radius: 0.5em;
          #price {
            display: flex;
            flex-direction: column;
            background-color: transparent;
            h3,
            span {
              color: $regularBlue;
              font-family: $Arial;
            }
            span {
              font-size: 0.8em;
            }
          }
          div.plus {
            background-color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            font-size: 1.5em;
            border-radius: 50%;
            margin: 0;
            margin-left: auto;
            color: $regularBlue;
            font-weight: bold;
          }
        }
      }
    }
  }
  footer {
    background-color: $regularBlue;
    h3, p {
      font-family: $Arial;
      color: $white;

    }
    h3 {
      padding: 0.5em 1em 0 1em;
    }
    p {
      text-align: left; 
      padding: 1.5em; 
      line-height:1.5em;
    }
    form {
      display: grid;
      grid-template-columns: 70% 30%;
      border: 1px solid $white;
      width: 70%;
      margin: 0 auto;
      border-radius: 0.5em;
      overflow: hidden;
      input, button {
        padding-block: 0;
        padding-inline: 0;
        border: none;
        font-family: $Arial;
        padding: 1em;
      }
      input {
        color: $white;
        background-color: inherit;
      }
      input::placeholder {
        opacity: 1;
        color: $white;
      }
      button {
        color: $regularBlue;
        background-color: $white;
      }
    }
    #footer-nav {
      padding: 1em;
      font-family: $Arial;
      color: $white;
      // font-size: 12px;
      ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 60% 10% 30%;
        grid-template-rows: repeat(3, 1fr);
        // .social {
        //   // margin-left: 1em;
        // }
        li {
          padding: 0.25em;
        }
      }
    }
  }
}
// media query for 852px min-width starts here
@media screen and (min-width: 852px) {
  #container {
    nav {
      display: flex;
      padding: 0 3em;
      align-items: center;
      ul {
        display: flex;
        margin-left: auto;
        list-style-type: none;
        li {
          padding: 0.5em;
        }
        #signup {
          border: 1px solid $white;
          padding: 0.5em 1em;
          margin-left: 1em;
          border-radius: 0.5em;
        }
      }
    }
    #section1 {
      margin-top: 2em;
      // flex-direction: column-reverse;
      align-items: center;
      div {
        width: 70%;
      }
      #section1-div1 {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    #section2 {
      width: 100%;
      margin: 0 auto;
      // padding: 2em;
      #section2-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        #section-left {
          width: 100%;
          padding: 4em;
          div {
            width: 80%;
            margin: 0 auto;
            p {
              font-size: 0.8em;
            }
          }
        
        }
        #section-right {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
          grid-template-areas:
            "one two two"
            "three four five"
            "three six seven";
          grid-gap: 0px 0px;
          img {
            width: 100%;
            height: auto;
            padding:0;
          }
          #img-1 {
            grid-area: one;
          }
          #img-2 {
            grid-area: two;
          }
          #img-3 {
            grid-area: three;
          }
          #img-4 {
            grid-area: four;
          }
          #img-5 {
            grid-area: five;
          }
          #img-6 {
            grid-area: six;
          }
          #img-7 {
            grid-area: seven;
          }
        }
      }
    }
    #cards {
      padding: 2em;
      margin-top: 1em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      column-gap: 3em;
      .section3 {
        margin: 1em 0;
      }
    }
    #section-4 {
      #section-4-div {
        p {
          width: 40%;
          margin-bottom: 3em;
        }
        #div-boxes {
          display: flex;
          // justify-content: space-around;
          .boxes {
            // width: 33.33%;
            margin: 0.5em;

          }
        }
      }
    }
    footer {
      section {
        width: 80%;
        margin: 0 auto;
        padding: 2em;
        #footer-nav {
          width: 76%;
        }
        #address {
          padding: 0;
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
// media query for 852px min-width ends here
